/* Стили исправления sticky-footer. */
.page--sticky-footer-fix {
  min-height: 100vh; /* вместо height: 100vh, чтобы не обрезать контент при переполнении */
}

.page--favorites-fix,
.page--not-found-fix,
.page--offer-fix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
