.loader {
  --color-1: #383838;
  --color-2: rgba(0, 0, 0, 0);
  --size: 1px;

  position: relative;
  font-size: calc(48 * var(--size));
  box-sizing: border-box;

  width: fit-content;
  margin: 25vh auto;
}
.loader::before {
  content: 'Loading';
}

.loader::after {
  content: '';
  width: calc(5 * var(--size));
  height: calc(5 * var(--size));
  background: currentColor;
  position: absolute;
  bottom: calc(14 * var(--size));
  right: calc(-5 * var(--size));
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
  border-radius: 50%;
}

@keyframes animloader {
  0% {
    box-shadow:
      calc(10 * var(--size)) 0 var(--color-2),
      calc(20 * var(--size)) 0 var(--color-2);
  }
  50% {
    box-shadow:
      calc(10 * var(--size)) 0 var(--color-1),
      calc(20 * var(--size)) 0 var(--color-2);
  }
  100% {
    box-shadow:
      calc(10 * var(--size)) 0 var(--color-1),
      calc(20 * var(--size)) 0 var(--color-1);
  }
}
